a {
    color : black;
    text-decoration: none;
}
h1 {
    border-bottom : solid 1px gray;
    text-decoration : none;
    margin:0;
}
ol {
    font-size: 40px;
    border-right : 3px gray solid;
    width : 400px;
    margin : 0px;
    padding : 20px;
}
body {
    margin-left: 50px;
}
span {
    font-size : 15px;
    font-style: italic;
    border : solid coral 4px;
    padding : 5px 10px 5px 10px
}

#wook {
    border : solid red;
    width : 400px;
    font-size : 20px;
}

@media(max-width:800px){
    #grid {
    display : block;
    padding-left: 0px;
    padding-right: 0px;}
    ol {
    border-right : none; }
}
